.fa-lock{
    font-size: 30px;
    cursor: pointer;
     color: #E23744;
     
}


.register{
    border-radius: 30px;
    background-color: #E23744;
    color: white;
}

.nav-item{
   
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(107, 114, 128);
    font-family: 'Amiri', serif;
font-family: 'Lateef', serif;
font-family: 'Poppins', sans-serif;
}
.nav-item>a{
    
    color:#6B7280;
}

.nav-item>a:hover{
    color:  #E23744;
    font-weight: bold;
}


#navbarSupportedContent{
    padding-left: 100px;
}
.red{
    color:#E23744 ;
}
.main{
    /* border: 1px solid ; */
    padding: 50px;
    background-color: #F5FAFF;
    height: 600px;
    border-radius: 10px ;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
}
/* 
.col-6{
    border: 1px solid ;
} */

.pay{
    background-color: white;
    padding: 40px 0px;
    text-align: center;
    border-radius: 20px;
}

.layout {
  display: flex;
  /* gap: 16px; */
}

.card-itm{
    border-radius: 10px  10px 0px 0px;
    padding: 0px;
    border-radius: 10px;
    width: 33.3%;
}
.card-img{
    border-radius: 10px  10px 0px 0px;
    height: 200px;
    width: 100%;
    /* background-size: cover; */
}

.card-body{
    background-color: white;
    color: black;
    border-radius: 0px  0px 10px 10px;
}
.swiper{
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 450px;
}



.admn{
    border-radius: 50px;
    background-color:#E23744;
    color: white;
     width: 50px;
     padding: 10px;
     text-align: center;


    height: 50px; 
}
.fa-star{
    color: #FAAF00;
}

.become{
    background-image: url("./img/partner.png");
    background-color: gray;
    width: 100%;
    height: 554px;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
   border-radius: 20px;
   padding: 150px;
}

.suscribe{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #F5FAFF;
    width: 100%;
    height: 200px;
}

.subscribe-btn{
    color: white;
    background-color:#E23744;
     height: 60px;
      padding: 0px 10px; 
      border: 1px solid;
       border-radius:0px 10px 10px 0px ;
}

.footer{
    border-top: 5px solid#E23744;
    padding: 50px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ftr-p{
    cursor: pointer;
    /* margin-top: 50px; */
    color: #E23744;
    font-size: 18px;
    font-weight: 900;
    /* padding-right: 50px; */
}

.ftr-itm{
    cursor: pointer;
    /* white-space: nowrap; */
    margin-left: 32px;
}

.pra{
    margin-top: 30px;
    color: #94A3B8;
}

.spn{
    white-space: nowrap;
    padding: 0px 10px;
    font-size: 20px;
    
}